{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false, 
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "object-to-json-parse",
      {
        "minJSONStringSize": 256
      }
    ]
  ]
}
